@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: "#e94f37ff";
  --black: "#2c2b3cff";
  --white: "#e5e5e5ff";
  --purple: "#6665ddff";
  --green: "#47a025ff";
}

body {
  color: var(--black);
  background: var(--black);
}
